<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta name="csrf-token" content={Plug.CSRFProtection.get_csrf_token()}/>
    <.live_title suffix={gettext(" · Your Todos")} ><%= assigns[:page_title] || "Todo" %></.live_title>
    <link rel="icon" type="image/svg+xml" href={~p"/images/icon.svg"}>
    <link phx-track-static rel="stylesheet" href={~p"/assets/app.css"}/>
    <script defer phx-track-static type="text/javascript" src={~p"/assets/app.js"}></script>
  </head>
  <body class={String.downcase(inspect Desktop.OS.type())}>
    <div class="wrap">
      <%= @inner_content %>
    </div>
    <%= live_render(@conn, EarWitnessWeb.ChatWidgetLive, id: "codemyspec-chat", sticky: true) %>
  </body>
</html>
